<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/layout.html :: dynamic(~{::title},~{::body})}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chi Tiết Sản Phẩm</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</head>

<body>
<div class="breadcrumb">
    <a href="/">Trang chủ</a>
    <span>&nbsp;>&nbsp;</span>
    <a href="/product/list">Sản phẩm</a>
    <span>&nbsp;>&nbsp;</span>
    <span>[[${productDetail.product.name}]]</span>
</div>
<div class="detail-container">
    <div class="flex-left">
        <img th:src="@{${productDetail.image}|}" alt="" class="main-img">
        <div class="thumbnail-container">
            <img th:src="@{${productDetail.image}|}" alt="" class="thumbnail-img add-border">
            <img th:src="@{${productDetail.image}|}" alt="" class="thumbnail-img">
            <img th:src="@{${productDetail.image}|}" alt="" class="thumbnail-img">
            <img th:src="@{${productDetail.image}|}" alt="" class="thumbnail-img">
        </div>
    </div>
    <div class="flex-right">
        <h1 class="product-detail-id" hidden>[[${productDetail.id}]]</h1>
        <h1 class="home-product-name">[[${productDetail.product.name}]]</h1>
        <h5 class="product-color">[[${productDetail.color.name}]]</h5>
        <h5 class="product-size">[[${productDetail.size.name}]]</h5>
        <h5 class="product-category">[[${productDetail.category.name}]]</h5>
        <h1 class="home-product-price w3-text-red">$[[${productDetail.price}]]</h1>
        <div>
            <h5>Số lượng: <input type="number" value="1" id="quantity-product" min="1"> </h5>
            <div>
                <button class="add-to-cart">
                    Thêm vào giỏ hàng
                </button>
            </div>
        </div>
    </div>
</div>

<div class="description">
    <h4>Chi tiết sản phẩm</h4>
    <p>[[${productDetail.product.name}]] là một đôi giày được thiết kế để mang lại sự thoải mái và phong cách cho
        người sử dụng. Với chất liệu cao cấp như da, vải hoặc tổng hợp, [[${productDetail.product.name}]] giúp bảo vệ
        đôi chân và tạo cảm giác êm ái
        suốt cả ngày. Đế giày chắc chắn, chống trơn trượt, hỗ trợ di chuyển linh hoạt trên nhiều bề mặt. Kiểu dáng đa
        dạng phù hợp với nhiều phong cách, từ thể thao, công sở đến thời trang thường ngày. Thiết kế thông thoáng giúp
        hạn chế mồ hôi, mang đến sự dễ chịu khi mang. [[${productDetail.product.name}]] là lựa chọn hoàn hảo cho mọi
        hoạt động.</p>
</div>
<div class="recommend-product">
    <h4>Sản phẩm tương tự <span style="font-size: large; color: red; font-weight: bold">[[${productDetail.product.name}]]</span>
    </h4>
    <div class="new-arrival">
        <div th:each="productDetail : ${tuongTu}">
            <a th:href="@{/product/{id}(id=${productDetail.id})}" class="top-link">
                <img th:src="@{${productDetail.image}}" class="card-img-top">
                <div class="top-card-title">
                    <h5 th:text="${productDetail.product.name}">ChicQuilt</h5>
                </div>
            </a>
        </div>
    </div>
</div>
<script>
    const thumbnails = document.querySelectorAll(".thumbnail-img");

    thumbnails.forEach(function (thumbnail) {
        thumbnail.addEventListener("click", function () {
            const imagePath = this.getAttribute("src");
            thumbnails.forEach(e => e.classList.remove('add-border'));
            this.classList.add('add-border');
            document.querySelector(".main-img").setAttribute("src", imagePath);
        });
    });

    $(document).ready(function () {
        $(".description p").each(function () {
            var text = $(this).text();
            var newText = text.replace(/\.\s*/g, ".- ");
            newText = "- " + newText;
            newText = newText.replace(/- $/, "");
            newText = newText.replace(/\.$/, "");
            newText = newText.replace(/\./g, "<br>");
            $(this).html(newText);
        });
    });
</script>
<script th:src="@{/admin/js/cart-r.js}"></script>
</body>

</html>