<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/layout.html :: dynamic(~{::title},~{::body})}">

<head>
  <title>Checkout</title>
</head>

<body>
  <div class="info-container">
    <div class="info-background">
      <div style="text-align: center; margin-top: 50px;">
        <div class="card mb-4">
          <div class="card-header">
            <i class="fas fa-table me-1"></i>
            Sản phẩm mua:
          </div>
          <div class="card-body">
            <div id="checkout-cart-list"></div>

          </div>
        </div>

        <div class="card mb-4">
          <form id="order-form" onsubmit="return confirmOrder();">
            <p class="w3-center">
              <b>THÔNG TIN ĐƠN HÀNG</b>
            </p>
            <input type="hidden" id="username" th:value="${username}">

            <p>
              <label>Số điện thoại</label>
              <input class="w3-input w3-border w3-round" name="sdt" id="user-sdt" th:value="${phone}" required>
            </p>

            <p>
              <label>Địa chỉ nhận hàng</label>
              <input class="w3-input w3-border w3-round" th:value="${address}" id="user-address" name="diachi" required>
            </p>

            <p>
              <label>Phương thức thanh toán</label>
              <select class="w3-select w3-border w3-round" name="option" onchange="changePayMethod(this)" id="payment">
                <option value="Cash">Thanh toán khi nhận hàng</option>
                <option value="Transfer">VN Pay</option>
              </select>
            </p>

            <p class="vn-pay">
              <input type="radio" id="ncb" name="bank" value="NCB" checked>
              <label for="ncb"><img src="/images/ncb.png" style="width: 70px;"></label>
              <input type="radio" id="eximbank" name="bank" value="EXIMBANK">
              <label for="eximbank"><img src="/images/eximbank.png" style="width: 70px;"></label>
            </p>

            <div>
              <b id="total-amount">Total: <span id="total-price">0 VND</span></b>
              <button type="submit" class="pay-button" id="order-btn">Đặt hàng</button>
              <p id="loading-message" style="display: none; color: red;">Đang xử lý đơn hàng...</p>
            </div>
          </form>
        </div>
      </div>

    </div>

  </div>
  <script th:src="@{/admin/js/cart-r.js}"></script>
</body>
</html>