<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Sản phẩm</title>
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet"/>
    <link th:href="@{css/styles.css}" rel="stylesheet"/>
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
</head>
<body class="sb-nav-fixed">
<div th:replace="navbar :: navbar"></div>

<!-- Menu Sidebar -->
<div id="layoutSidenav">
    <div id="layoutSidenav_nav">
        <div th:replace="menu :: menu"></div> <!-- Sidebar Menu -->
    </div>

    <!-- Nội dung chính -->
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <h1 class="mt-4">Sản phẩm</h1>
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item"><a th:href="@{/admin}">Dashboard</a></li>
                    <li class="breadcrumb-item active">Sản phẩm</li>
                </ol>
                <div class="card mb-4">
                    <div class="card-body">
                        <div th:if="${error}" class="alert alert-danger" role="alert">
                            <span th:text="${error}">Lỗi</span>
                        </div>

                        <div th:if="${success}" class="alert alert-success" role="alert">
                            <span th:text="${success}">Thành công</span>
                        </div>
                        <button type="button" class="btn btn-success" data-bs-toggle="modal"
                                data-bs-target="#addProductModal">
                            Thêm Sản Phẩm
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="addProductModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                             aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="exampleModalLabel">Thêm sản phẩm</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form action="#" th:action="@{/admin/products/add}" method="post"
                                              th:object="${product}" class="needs-validation" novalidate>
                                            <input type="hidden" th:field="*{id}"/>
                                            <div class="mb-3">
                                                <label for="name" class="form-label">Tên sản phẩm</label>
                                                <input type="text" class="form-control" id="name" th:field="*{name}"
                                                       placeholder="Nhập tên sản phẩm" maxlength="100" required>
                                                <div class="invalid-feedback">
                                                    Vui lòng nhập tên sản phẩm
                                                </div>
                                            </div>
<!--                                            &lt;!&ndash; Checkbox Trạng thái &ndash;&gt;-->
<!--                                            <div class="mb-3">-->
<!--                                                <label for="status" class="form-label me-2">Trạng thái: </label>-->
<!--                                                <input type="checkbox" class="form-check-input" th:field="*{status}" th:checked="${product.status}"/>-->
<!--                                                <label class="form-check-label" for="status">Đang kinh doanh</label>-->
<!--                                            </div>-->
                                            <div class="text-end">
                                                <button type="submit" class="btn btn-primary">
                                                    <span>Lưu</span>
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="modal fade" id="editProductModal" tabindex="-1" aria-labelledby="exampleModalLabel1"
                             aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="exampleModalLabel1">Sửa sản phẩm</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form th:action="@{/admin/products/update}" method="post" class="needs-validation" novalidate>
                                            <input type="hidden" name="id"/>
                                            <div class="mb-3">
                                                <label for="name" class="form-label">Tên sản phẩm</label>
                                                <input type="text" class="form-control" name="name"
                                                       placeholder="Nhập tên sản phẩm  " maxlength="100" required/>
                                                <div class="invalid-feedback">
                                                    Vui lòng nhập tên sản phẩm
                                                </div>
                                            </div>
<!--                                            &lt;!&ndash; Checkbox Trạng thái &ndash;&gt;-->
<!--                                            <div class="mb-3">-->
<!--                                                <label for="status" class="form-label me-2">Trạng thái: </label>-->
<!--                                                <input type="checkbox" class="form-check-input" name="status"-->
<!--                                                       id="status">-->
<!--                                                <label class="form-check-label" for="status">Đang kinh doanh</label>-->
<!--                                            </div>-->
                                            <div class="text-end">
                                                <button type="submit" class="btn btn-primary">
                                                    <span>Lưu</span>
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-table me-1"></i>
                        Sản phẩm
                    </div>
                    <div class="card-body">
                        <table id="datatablesSimple">
                            <thead>
                            <tr>
                                <th>STT</th>
                                <th>Tên</th>
                                <th>Số lượng tồn kho</th>
                                <th>Trạng thái</th>
                                <th>Thao tác</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="product, stat : ${products}">
                                <td th:text="${stat.index+1}"></td>
                                <td th:text="${product.name}"></td>
                                <td th:text="${productQuantities[product.id]}"></td>
                                <td>
                                    <form th:action="@{/admin/products/{action}/{id}(id=${product.id}, action=${product.status == true ? 'deactivateProduct' : 'activateProduct'})}"
                                          method="post">
                                        <button type="submit" class="badge"
                                                th:classappend="${product.status} ? 'text-bg-primary' : 'text-bg-secondary'"
                                                th:attr="onclick='return confirm(\'Bạn có chắc chắn muốn ' + (${product.status} ? 'ngừng kinh doanh' : 'kinh doanh') + ' sản phẩm này?\')'">
                                            <span th:text="${product.status} ? 'Đang kinh doanh' : 'Ngừng kinh doanh'"></span>
                                        </button>
                                    </form>
                                </td>
                                <td>
                                    <a th:href="@{#}" style="color: black; text-decoration: none; padding-right: 15px;"
                                       data-bs-toggle="modal"
                                       data-bs-target="#editProductModal"
                                       th:attr="data-id=${product.id}, data-name=${product.name}, data-status=${product.status}">
                                        <i class="fa-solid fa-pen"></i>
                                    </a>
                                    <a th:href="@{/admin/products/detail(idProduct=${product.id})}"
                                       style="color: black; text-decoration: none">
                                        <i class="fa-solid fa-eye"></i>
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </main>
        <footer class="py-4 bg-light mt-auto">
            <div class="container-fluid px-4">
                <div class="d-flex align-items-center justify-content-between small">
                    <div class="text-muted">Copyright &copy; Your Website 2023</div>
                    <div>
                        <a href="#">Privacy Policy</a>
                        &middot;
                        <a href="#">Terms & Conditions</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const editProductModal = document.getElementById('editProductModal');
        editProductModal.addEventListener('show.bs.modal', function (event) {
            const button = event.relatedTarget; // Lấy nút được click
            const id = button.getAttribute('data-id');
            const name = button.getAttribute('data-name');
            const status = button.getAttribute('data-status');

            // Gán dữ liệu vào các trường trong form
            const form = editProductModal.querySelector('form');
            form.querySelector('input[name="id"]').value = id;
            form.querySelector('input[name="name"]').value = name;
            form.querySelector('input[name="status"]').checked = status === 'true';
        });
    });

    // Custom Bootstrap validation
    (function () {
        'use strict'

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.querySelectorAll('.needs-validation')

        // Loop over them and prevent submission
        Array.prototype.slice.call(forms)
            .forEach(function (form) {
                form.addEventListener('submit', function (event) {
                    if (!form.checkValidity()) {
                        event.preventDefault()
                        event.stopPropagation()
                    }

                    form.classList.add('was-validated')
                }, false)
            })
    })();
</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
<script th:src="@{js/scripts.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js"
        crossorigin="anonymous"></script>
<script th:src="@{js/datatables-simple-demo.js}"></script>
</body>
</html>
