<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Menu</title>
</head>
<body>
<div th:fragment="menu">
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        <div class="sb-sidenav-menu-heading">THỐNG KÊ</div>
                        <a class="nav-link" th:href="@{/admin/dashboard}">
                            <div class="sb-nav-link-icon"><i class="fa-solid fa-chart-line"></i></div>
                            Dashboard
                        </a>

                        <div class="sb-sidenav-menu-heading">BÁN HÀNG</div>
                        <a class="nav-link" th:href="@{/admin/orders}">
                            <div class="sb-nav-link-icon"><i class="fa-solid fa-cart-shopping"></i></div>
                            Bán hàng tại quầy
                        </a>

                        <div class="sb-sidenav-menu-heading">QUẢN LÝ SẢN PHẨM</div>
                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
                           data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                            <div class="sb-nav-link-icon"><i class="fa-solid fa-table"></i></div>
                            Sản phẩm
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne"
                             data-bs-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" th:href="@{/admin/categories}">Danh mục sản phẩm</a>
                                <a class="nav-link" th:href="@{/admin/products}">Sản phẩm</a>
                            </nav>
                        </div>

                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
                           data-bs-target="#collapseLayouts1" aria-expanded="false" aria-controls="collapseLayouts">
                            <div class="sb-nav-link-icon"><i class="fa-solid fa-table"></i></div>
                            Thuộc tính
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="collapseLayouts1" aria-labelledby="headingOne"
                             data-bs-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" th:href="@{/admin/brands}">Thương hiệu</a>
                                <a class="nav-link" th:href="@{/admin/colors}">Màu sắc</a>
                                <a class="nav-link" th:href="@{/admin/sizes}">Kích thước</a>
                            </nav>
                        </div>

                        <div class="sb-sidenav-menu-heading">QUẢN LÝ KHUYẾN MÃI</div>
                        <a class="nav-link" th:href="@{/admin/promotions}">
                            <div class="sb-nav-link-icon"><i class="fa-solid fa-ticket"></i></div>
                            Khuyến mãi
                        </a>

                        <div class="sb-sidenav-menu-heading">QUẢN LÝ ĐƠN HÀNG</div>
                        <a class="nav-link" th:href="@{/admin/order-manager}">
                            <div class="sb-nav-link-icon"><i class="fa-solid fa-receipt"></i></div>
                            Quản lý đơn hàng
                        </a>

                        <div class="sb-sidenav-menu-heading">QUẢN LÝ KHÁCH HÀNG</div>
                        <a class="nav-link" th:href="@{/admin/customers}">
                            <div class="sb-nav-link-icon"><i class="fa-solid fa-user"></i></div>
                            Khách hàng
                        </a>

                        <div class="sb-sidenav-menu-heading">QUẢN LÝ NHÂN VIÊN</div>
                        <a class="nav-link" th:href="@{/admin/employees}">
                            <div class="sb-nav-link-icon"><i class="fa-solid fa-user"></i></div>
                            Nhân viên
                        </a>
                    </div>
                </div>
<!--                <div class="sb-sidenav-footer">-->
<!--                    <div class="small">Logged in as: <span th:text="${username}" class="fw-bold"></span></div>-->
<!--                </div>-->
            </nav>
        </div>
    </div>
</div>
</body>
</html>